# Name of this GitHub Actions workflow.
name: Semgrep

on:
  # Scan changed files in PRs, only report new findings (existing findings in the repository are ignored).
  pull_request: {}
jobs:
  semgrep:
    # User definable name of this GitHub Actions job.
    name: Scan
    runs-on: ubuntu-latest
    container:
      # A Docker image with Semgrep installed. Don't change this.
      image: returntocorp/semgrep
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      # Fetch project source with GitHub Actions Checkout.
      - uses: actions/checkout@v3

      # Run the "semgrep ci" command on the command line of the docker image.
      - run: semgrep ci
        env:
          # Set hard-coded rulesets, viewable in logs.
          SEMGREP_RULES: p/default # more at semgrep.dev/explore
